@import "../../variables";

.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: -@offset;
  width: calc(100% + @offset);
  margin-left: -@offset;
  padding: 60px 0;
}

.item {
  padding-left: @offset;
  padding-top: @offset;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: calc(100% - @offset-lg);
  max-width: @max-width;
  margin-left: -@offset-lg;

  .city-link {
    font-size: @font-size-xl;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    margin-left: @offset-lg;
    margin-top: @offset;
    color: @primary-color;

    &:hover {
      color: @active-color;
    }

    &.active {
      font-weight: @bold;
      color: @active-color;
    }
  }
}
